/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@500&family=Montserrat:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 5.6rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(230, 62%, 56%);
  --title-color: hsl(230, 70%, 16%);
  --text-color: hsl(230, 16%, 45%);
  --border-color: hsl(230, 50%, 90%);
  --white-color: hsl(0, 0%, 100%);
  --body-color: hsl(230, 100%, 96%);
  --container-color: hsl(230, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 5px | 1rem = 10px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Montagu Slab", serif;
  --biggest-font-size: 3.2rem;
  --h1-font-size: 2.4rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.6rem;
  --normal-font-size: 1.4rem;
  --small-font-size: 1.2rem;
  --smaller-font-size: 1rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 5.6rem;
    --h1-font-size: 3.6rem;
    --h2-font-size: 2.4rem;
    --h3-font-size: 2rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.4rem;
    --smaller-font-size: 1.2rem;
  }
}
/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%; /*font-size: 10px;*/
  scroll-behavior: smooth;
}
body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 0.4s;
}
input,
button {
  border: none;
  outline: none;
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/

/*========== 
	Color changes in some parts of 
	the website, in dark theme
==========*/

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1220px;
  padding-inline: 2.4rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  gap: 2.4rem;
}
.section {
  padding-block: 8rem 1.6rem;
}
.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  font-family: var(--second-font);
  margin-bottom: 3.2rem;
}
.main {
  overflow: hidden; /* For animation ScrollReveal */
}
/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: box-shadow 0.4s, background-color 0.4s;
}
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--first-color);
  font-weight: var(--font-medium);
}
.nav__logo i {
  font-size: 2rem;
}
/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--container-color);
    padding: 2rem 6rem;
    box-shadow: 0 -8px 32px hsla(0, 0%, 0%, 0.1);
    transition: background-color 0.4s;
  }
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link {
  color: var(--text-color);
  transition: color 0.4s;
}
.nav__link span {
  display: none;
}
.nav__link i {
  font-size: 2rem;
}
.nav__link:hover {
  color: var(--first-color);
}
.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
}
.nav__actions i {
  font-size: 2rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color 0.4s;
}
.nav__actions i:hover {
  color: var(--first-color);
}
/* Add shadow header */
.shadow-header {
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.1);
}
/* Active link */
.active-link {
  color: var(--first-color);
}
/*=============== SEARCH ===============*/
.search {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-fixed);
  background-color: hsla(230, 12%, 96%, 0.6);
  backdrop-filter: blur(16px);
  padding: 12rem 3rem;
  transition: top 0.3s;
}
.search__form {
  display: flex;
  align-items: center;
  background-color: var(--container-color);
  column-gap: 1rem;
  padding-inline: 2rem;
  border: 2px solid var(--border-color);
}
.search__icon {
  font-size: 2rem;
  color: var(--title-color);
}
.search__input {
  width: 100%;
  padding-block: 1.6rem;
  background-color: var(--container-color);
  color: var(--text-color);
}
.search__close {
  position: absolute;
  top: 3rem;
  right: 3rem;
  font-size: 3.2rem;
  color: var(--title-color);
  cursor: pointer;
}
/* Show search */
.show-search {
  top: 0;
}
